



body, html {
    height: 100%;
}

.search-row{
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    border: 2px;
    border-color: cadetblue;
    border-style: solid;
    background: whitesmoke;
    border-radius: 8px;
}

.top-bar{
    padding-top: 20px;
    padding-bottom: 20px;
}

.weather-info-box{
    margin-top: 100px;
}

#main{
    background-image: url("/resources/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.myText{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.00px; 
   }